<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    
  <div class="container-fluid">
    <div class="row">
       <% @post.each do |post| %>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="panel panel-info">
        <%= post.caption %>
        </div>
       <a href="#" class="thumbnail">
      <%= image_tag post.image_url.to_s %>
      <%= link_to 'Show', post_path(post) %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post_path(post),
           method: :delete, data: { confirm: 'Are you sure?' } %>
       </a>
      </div>
        <% end %>
  </div>

  </div>
  </body>
</html>
